<form>
    <div class="form-group">
      <button type="button" class="btn btn-primary">Submit</button>
    </div>
  </form>
  
  <div class="container">
    <div class="py-5 text-center">
      <h2>API Form</h2>
      <p class="lead">This makes a call to a nodejs server hosting a web API</p>
    </div>
  
    <div class="row">
      <div class="col-md-12 order-md-1">
        <h4 class="mb-3">Get /</h4>
        <form>
          
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="button" (click)='showResponse()'>Send</button>
        </form>
      </div>
    </div>
  
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2020 jonwolfdev</p>
    </footer>
  </div>